# Librerias

In [18]:
import pandas as pd
import json
import requests
import warnings

#  Resultados de la F1

In [2]:
warnings.filterwarnings("ignore")
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)
content=json.loads(response.content)
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

## Resultado de los pilotos

### Manera 1 (por separado)

In [3]:
df_results_2022['points']=df_results_2022.points.astype(int)
df_results_2022['points']

0     26
1     18
2     15
3     12
4     10
      ..
15     0
16     0
17     0
18     0
19     0
Name: points, Length: 440, dtype: int32

In [4]:
Conductores=df_results_2022['Driver'].apply(lambda x: x['driverId'])
Conductores

0             leclerc
1               sainz
2            hamilton
3             russell
4     kevin_magnussen
           ...
15    mick_schumacher
16    kevin_magnussen
17           hamilton
18             latifi
19             alonso
Name: Driver, Length: 440, dtype: object

In [5]:
df_results_2022.groupby(['position']).agg({'points':'sum'}).sort_values(by='points',ascending=False)

          points
position
1            557
2            402
3            331
4            265
5            222
6            179
7            132
8             88
9             44
10            22
18             0
17             0
20             0
16             0
15             0
14             0
13             0
12             0
11             0
19             0

In [6]:
warnings.filterwarnings("ignore")
url = 'http://ergast.com/api/f1/2022/22.json'
response = requests.get(url)
content=json.loads(response.content)
df_results_2022=pd.DataFrame()
for race in range(1,23):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022 = df_results_2022.append(content['MRData']['RaceTable']['Races'][0]['Results'])
df_results_2022.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."

### Manera 2 (grupal)

In [7]:
df_results_2022['Driver']=df_results_2022['Driver'].apply(lambda x:x['driverId'])

In [8]:
df_results_2022["points"]=df_results_2022["points"].astype(int)

In [9]:
df_results_2022.groupby(["Driver"]).agg({'points':"sum"}).sort_values(by='points',ascending=False)

                 points
Driver
max_verstappen      433
perez               291
leclerc             291
russell             262
hamilton            233
sainz               228
norris              116
ocon                 89
alonso               81
bottas               47
vettel               37
ricciardo            34
gasly                23
kevin_magnussen      21
stroll               18
tsunoda              12
mick_schumacher      12
zhou                  6
albon                 4
latifi                2
de_vries              2
hulkenberg            0

## Resultado de constructores

In [10]:
df_results_2022['Constructor']=df_results_2022['Constructor'].apply(lambda x:x['constructorId'])
df_results_2022['Constructor']

0      ferrari
1      ferrari
2     mercedes
3     mercedes
4         haas
        ...
15        haas
16        haas
17    mercedes
18    williams
19      alpine
Name: Constructor, Length: 440, dtype: object

In [11]:
df_results_2022.groupby(['Constructor']).agg({'points':"sum"}).sort_values(by='points',ascending=False)

              points
Constructor
red_bull         724
ferrari          519
mercedes         495
alpine           170
mclaren          150
aston_martin      55
alfa              53
alphatauri        35
haas              33
williams           8

## Los Grandes Premios (carreras)

In [19]:
races={'season':[],'round':[],'raceName':[],'circuitId':[],'lat':[],'long':[],'country':[],'date':[],'url':[]}

In [20]:
warnings.filterwarnings("ignore")
url='http://ergast.com/api/f1/2010.json'
response = requests.get(url)
content=json.loads(response.content)

In [21]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races']:
        races['season'].append(int(item['season']))
        races['round'].append(int(item['round']))
        races['raceName'].append(item['raceName'])
        races['circuitId'].append(item['Circuit']['circuitId'])
        races['lat'].append(float(item['Circuit']['Location']['lat']))
        races['long'].append(float(item['Circuit']['Location']['long']))
        races['country'].append(item['Circuit']['Location']['country'])
        races['date'].append(item['date'])
        races['url'].append(item['url'])

# Tabla races

In [22]:
pd.DataFrame(races)

,season,round,raceName,circuitId,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.03250,50.51060,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.84970,144.96800,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.73800,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.33890,121.22000,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57000,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
254,2022,18,Japanese Grand Prix,suzuka,34.84310,136.54100,Japan,2022-10-09,http://en.wikipedia.org/wiki/2022_Japanese_Gra...
255,2022,19,United States Grand Prix,americas,30.13280,-97.64110,USA,2022-10-23,http://en.wikipedia.org/wiki/2022_United_State...
256,2022,20,Mexico City Grand Prix,rodriguez,19.40420,-99.09070,Mexico,2022-10-30,http://en.wikipedia.org/wiki/2022_Mexican_Gran...
257,2022,21,Brazilian Grand Prix,interlagos,-23.70360,-46.69970,Brazil,2022-11-13,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...
258,2022,22,Abu Dhabi Grand Prix,yas_marina,24.46720,54.60310,UAE,2022-11-20,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...

In [23]:
for i in races:
    print(len(races[i]))

259
259
259
259
259
259
259
259
259

In [24]:
warnings.filterwarnings("ignore")
url='http://ergast.com/api/f1/seasons.json'
response = requests.get(url)
content=json.loads(response.content)

In [25]:
season ={'season':[],'url':[]}
for item in content['MRData']['SeasonTable']['Seasons']:
    season['season'].append(int(item['season']))
    season['url'].append(item['url'])
pd.DataFrame(season)

    season                                                url
0     1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
1     1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
2     1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
3     1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
4     1954  http://en.wikipedia.org/wiki/1954_Formula_One_...
5     1955  http://en.wikipedia.org/wiki/1955_Formula_One_...
6     1956  http://en.wikipedia.org/wiki/1956_Formula_One_...
7     1957  http://en.wikipedia.org/wiki/1957_Formula_One_...
8     1958  http://en.wikipedia.org/wiki/1958_Formula_One_...
9     1959  http://en.wikipedia.org/wiki/1959_Formula_One_...
10    1960  http://en.wikipedia.org/wiki/1960_Formula_One_...
11    1961  http://en.wikipedia.org/wiki/1961_Formula_One_...
12    1962  http://en.wikipedia.org/wiki/1962_Formula_One_...
13    1963  http://en.wikipedia.org/wiki/1963_Formula_One_...
14    1964  http://en.wikipedia.org/wiki/1964_Formula_One_...
15    1965  http://en.wikipedia.org/wiki/1965_Formula_One_...
16    1966  http://en.wikipedia.org/wiki/1966_Formula_One_...
17    1967  http://en.wikipedia.org/wiki/1967_Formula_One_...
18    1968  http://en.wikipedia.org/wiki/1968_Formula_One_...
19    1969  http://en.wikipedia.org/wiki/1969_Formula_One_...
20    1970  http://en.wikipedia.org/wiki/1970_Formula_One_...
21    1971  http://en.wikipedia.org/wiki/1971_Formula_One_...
22    1972  http://en.wikipedia.org/wiki/1972_Formula_One_...
23    1973  http://en.wikipedia.org/wiki/1973_Formula_One_...
24    1974  http://en.wikipedia.org/wiki/1974_Formula_One_...
25    1975  http://en.wikipedia.org/wiki/1975_Formula_One_...
26    1976  http://en.wikipedia.org/wiki/1976_Formula_One_...
27    1977  http://en.wikipedia.org/wiki/1977_Formula_One_...
28    1978  http://en.wikipedia.org/wiki/1978_Formula_One_...
29    1979  http://en.wikipedia.org/wiki/1979_Formula_One_...

In [45]:
pd.DataFrame(races).to_csv('races.csv',index=False)

In [46]:
pd.DataFrame(season).to_csv('season.csv',index=False)

## Drivers

In [28]:
drivers ={'season':[],'driverId':[], 'number':[], 'code':[],
          'forename':[], 'surname':[], 'dob':[], 'nationality':[],
          'url':[]}

In [60]:
warnings.filterwarnings("ignore")

for year in range(2010,2023):
    url='http://ergast.com/api/f1/{}/drivers.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['DriverTable']
    for item in range(0,len(path["Drivers"])):
        drivers["season"].append(int(path['season']))
        drivers['driverId'].append(path['Drivers'][item]["driverId"])
        drivers["forename"].append(path['Drivers'][item]["givenName"])
        drivers["surname"].append(path['Drivers'][item]["familyName"])                       
        drivers["dob"].append(path['Drivers'][item]["dateOfBirth"])                        
        drivers["nationality"].append(path['Drivers'][item]["nationality"])
        drivers["url"].append(path['Drivers'][item]["url"])
        
        try:                   
            drivers['number'].append(int(path['Drivers'][item]['permanentNumber']))
        except:
            drivers["number"].append("")
        try:
            drivers["code"].append(path['Drivers'][item]["code"])
        except:
            drivers["code"].append("")

In [30]:
for i in drivers:
    print(len(drivers[i]))

304
304
304
304
304
304
304
304
304

In [47]:
pd.DataFrame(drivers)

,season,driverId,number,code,forename,surname,dob,nationality,url
0,2010,alguersuari,,ALG,Jaime,Alguersuari,1990-03-23,Spanish,http://en.wikipedia.org/wiki/Jaime_Alguersuari
1,2010,alonso,,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
2,2010,barrichello,,BAR,Rubens,Barrichello,1972-05-23,Brazilian,http://en.wikipedia.org/wiki/Rubens_Barrichello
3,2010,buemi,,BUE,SÃ©bastien,Buemi,1988-10-31,Swiss,http://en.wikipedia.org/wiki/S%C3%A9bastien_Buemi
4,2010,button,,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
...,...,...,...,...,...,...,...,...,...
299,2022,stroll,,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll
300,2022,tsunoda,,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
301,2022,max_verstappen,,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen
302,2022,vettel,,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
303,2022,zhou,,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou

In [48]:
pd.DataFrame(drivers).to_csv('drivers.csv',index=False)

## Constructors

In [36]:
constructors={"season":[],"constuctorId":[],"name":[],"nationality":[],"url":[],}

In [37]:
warnings.filterwarnings("ignore")
for year in range(2010,2023):
    url='http://ergast.com/api/f1/{}/constructors.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['ConstructorTable']
    for item in range(0,len(path['Constructors'])):
        constructors["season"].append(int(path['season']))
        constructors["constuctorId"].append(path['Constructors'][item]['constructorId'])
        constructors['name'].append(path['Constructors'][item]['name'])
        constructors['nationality'].append(path['Constructors'][item]['nationality'])
        constructors['url'].append(path['Constructors'][item]['url'])

In [38]:
for i in constructors:
    print(len(constructors[i]))

139
139
139
139
139

In [39]:
pd.DataFrame(constructors)

,season,constuctorId,name,nationality,url
0,2010,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
1,2010,force_india,Force India,Indian,http://en.wikipedia.org/wiki/Racing_Point_Forc...
2,2010,hrt,HRT,Spanish,http://en.wikipedia.org/wiki/Hispania_Racing
3,2010,lotus_racing,Lotus,Malaysian,http://en.wikipedia.org/wiki/Lotus_Racing
4,2010,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
...,...,...,...,...,...
134,2022,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
135,2022,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
136,2022,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
137,2022,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
138,2022,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...

In [49]:
pd.DataFrame(constructors).to_csv('constructors.csv',index=False)

## Circuits

In [50]:
circuits={'season':[],'circuitId':[], 
           'name':[],'location':[], 'country':[],
           'lat':[], 'lng':[], 
           'url':[]}

In [51]:
warnings.filterwarnings("ignore")
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/circuits.json?limit=1000'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    path=content['MRData']['CircuitTable']
    for item in range(0,len(path['Circuits'])):
        circuits['season'].append(int(path['season']))
        circuits['circuitId'].append(path['Circuits'][item]['circuitId'])
        circuits['name'].append(path['Circuits'][item]['circuitName'])
        circuits['location'].append(path['Circuits'][item]['Location']['locality'])
        circuits['country'].append(path['Circuits'][item]['Location']['country'])
        circuits['lat'].append(float(path['Circuits'][item]['Location']['lat']))
        circuits['lng'].append(float(path['Circuits'][item]['Location']['long']))
        circuits['url'].append(path['Circuits'][item]['url'])

In [52]:
for i in circuits:
    print(len(circuits[i]))

255
255
255
255
255
255
255
255

In [53]:
pd.DataFrame(circuits)

,season,circuitId,name,location,country,lat,lng,url
0,2010,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.96800,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2010,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.0325,50.51060,http://en.wikipedia.org/wiki/Bahrain_Internati...
2,2010,catalunya,Circuit de Barcelona-Catalunya,MontmelÃ³,Spain,41.5700,2.26111,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
3,2010,hockenheimring,Hockenheimring,Hockenheim,Germany,49.3278,8.56583,http://en.wikipedia.org/wiki/Hockenheimring
4,2010,hungaroring,Hungaroring,Budapest,Hungary,47.5789,19.24860,http://en.wikipedia.org/wiki/Hungaroring
...,...,...,...,...,...,...,...,...
250,2022,spa,Circuit de Spa-Francorchamps,Spa,Belgium,50.4372,5.97139,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...
251,2022,suzuka,Suzuka Circuit,Suzuka,Japan,34.8431,136.54100,http://en.wikipedia.org/wiki/Suzuka_Circuit
252,2022,villeneuve,Circuit Gilles Villeneuve,Montreal,Canada,45.5000,-73.52280,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...
253,2022,yas_marina,Yas Marina Circuit,Abu Dhabi,UAE,24.4672,54.60310,http://en.wikipedia.org/wiki/Yas_Marina_Circuit
254,2022,zandvoort,Circuit Park Zandvoort,Zandvoort,Netherlands,52.3888,4.54092,http://en.wikipedia.org/wiki/Circuit_Zandvoort

In [54]:
pd.DataFrame(circuits).to_csv('circuits.csv',index=False)

## Qualifying

In [55]:
qualifiying={"season":[],"driverId":[],"ConstructorId":[],"number":[],"position":[],"qualifyId":[],"raceId":[],"q1":[],"q2":[],"q3":[]}

In [56]:
warnings.filterwarnings("ignore")
for year in range(2010,2023):
    url='http://ergast.com/api/f1' 
    url1=url+'/{}.json?limit=1000'
    url3=url+'/{}'.format(year)
    response = requests.get(url1.format(year))
    content=json.loads(response.content)
    tampath=len(content['MRData']['RaceTable']['Races'])
    u=0
    links=[]
    for i in range(1,tampath+1):
        url2=url3+'/{}/qualifying.json?limit=100'
        response = requests.get(url2.format(i))
        content=json.loads(response.content)
        links.append(url2.format(i))
    for j in links:
        response = requests.get(j)
        content=json.loads(response.content)
        for k in content['MRData']['RaceTable']['Races']:
            for k1 in content['MRData']['RaceTable']['Races'][0]['QualifyingResults']:
                qualifiying["season"].append(int(k['season']))
                qualifiying["qualifyId"].append(int( k['round']))
                qualifiying["raceId"].append(k['raceName']) 
                qualifiying["driverId"].append(k1['Driver']['driverId'])   
                qualifiying["ConstructorId"].append(k1['Constructor']['constructorId'])
                qualifiying["number"].append(int(k1['number']))
                qualifiying["position"].append(int(k1['position']))
                qualifiying["q1"].append(k1['Q1'])
                try:
                    qualifiying["q2"].append(k1['Q2'])
                except:
                    qualifiying["q2"].append("")
                try:
                    qualifiying["q3"].append(k1['Q3'])
                except:
                    qualifiying["q3"].append("")

In [57]:
for i in qualifiying:
    print(len(qualifiying[i]))

5493
5493
5493
5493
5493
5493
5493
5493
5493
5493

In [58]:
pd.DataFrame(qualifiying).head()

,season,driverId,ConstructorId,number,position,qualifyId,raceId,q1,q2,q3
0,2010,vettel,red_bull,5,1,1,Bahrain Grand Prix,1:55.029,1:53.883,1:54.101
1,2010,massa,ferrari,7,2,1,Bahrain Grand Prix,1:55.313,1:54.331,1:54.242
2,2010,alonso,ferrari,8,3,1,Bahrain Grand Prix,1:54.612,1:54.172,1:54.608
3,2010,hamilton,mclaren,2,4,1,Bahrain Grand Prix,1:55.341,1:54.707,1:55.217
4,2010,rosberg,mercedes,4,5,1,Bahrain Grand Prix,1:55.463,1:54.682,1:55.241

In [59]:
pd.DataFrame(qualifiying).to_csv('qualifiying.csv',index=False)